{% extends 'layout.html' %}

{% block content %}

  <h1>
    HOME
  </h1>
  <div>
    <div>Touchdesigner</div>
    <div>-- Bridgets</div>
    <div>-- 32 bin spectral attacks</div>
    <div>-- API integration, Airtable</div>
    <div>-- Parts of Botcity, browser driver etc</div>
    <div>-- Experimental streaming, ffmpeg</div>
    <div>-- gig work</div>
    <div>-- music video</div>
    <div>-- visualizers</div>
    <div>-- integration with Jitter using shared graphics</div>
    <div>Max/MSP</div>
    <div>-- SOS Valence</div>
    <div>-- A Sense of Time</div>
    <div>-- Jitter Ascii Art</div>
    <div>-- Algorithmic music</div>
    <div>Ruby</div>
    <div>-- generate poems</div>
    <div>-- Utterpop albums using Jitter and Watir</div>
    <div>-- Automate demo voice poetry</div>
    <div>Python</div>
    <div>-- Sphx</div>
    <div>-- rectangular bin packing</div>
    <div>-- faceswap, scanner darkly effect</div>
    <div>-- text art new </div>
    <div>Spoken Word poetry</div>
    <div>-- Subrealism</div>
    <div>-- other poems</div>
    <div>Irving armstrong link to utsanga</div>
    <div>Nondigital visual work</div>
    <div>-- drawings</div>
    <div>-- mixed media</div>
    <div>Music</div>
    <div>-- profanely sacred SoundCloud</div>
    <div>-- 7TTY metallurgic</div>
    <div>-- 7TTY slilll</div>
    <div>-- utterpop SoundCloud</div>
  </div>

{% endblock %}
