{% extends 'layout.html' %}

{% block content %}

  <h1>
    HOME
  </h1>
  <div>
    Touchdesigner
    -- Bridgets
    -- 32 bin spectral attacks
    -- API integration, Airtable
    -- Parts of Botcity, browser driver etc
    -- Experimental streaming, ffmpeg
    -- gig work
    -- music video
    -- visualizers
    -- integration with Jitter using shared graphics
    Max/MSP
    -- SOS Valence
    -- A Sense of Time
    -- Jitter Ascii Art
    -- Algorithmic music
    Ruby
    -- generate poems
    -- Utterpop albums using Jitter and Watir
    -- Automate demo voice poetry
    Python
    -- Sphx
    -- rectangular bin packing
    -- faceswap, scanner darkly effect
    -- text art new 
    Spoken Word poetry
    -- Subrealism
    -- other poems
    Irving armstrong link to utsanga
    Nondigital visual work
    -- drawings
    -- mixed media
    Music
    -- profanely sacred SoundCloud
    -- 7TTY metallurgic
    -- 7TTY slilll
    -- utterpop SoundCloud
  </div>

{% endblock %}
