{% extends 'layout.html' %}

{% block content %}

  <h1>
    PORTFOLIO
  </h1>
  <div>
    <h2>Touchdesigner</h2>
    <div>-- Bridgets</div>
    <div>-- 32 bin spectral attacks</div>
    <div>-- API integration, Airtable</div>
    <div>-- Parts of Botcity, browser driver etc</div>
    <div>-- Experimental streaming, ffmpeg</div>
    <div>-- gig work</div>
    <div>-- music video</div>
    <div>-- visualizers</div>
    <div>-- integration with Jitter using shared graphics</div>
    <h2>Max/MSP</h2>
    <div>-- SOS Valence</div>
    <div>-- A Sense of Time</div>
    <div>-- Jitter Ascii Art</div>
    <div>-- Algorithmic music</div>
    <h2>Ruby</h2>
    <div>-- generate poems</div>
    <div>-- Utterpop albums using Jitter and Watir</div>
    <div>-- Automate demo voice poetry</div>
    <h2>Python</h2>
    <div>-- Sphx</div>
    <div>-- rectangular bin packing</div>
    <div>-- faceswap, scanner darkly effect</div>
    <div>-- text art new </div>
    <h2>Spoken Word poetry</h2>
    <div>-- Subrealism</div>
    <div>-- other poems</div>
    <h2>Irving armstrong link to utsanga, abstract extreme</h2>
    <h2>Nondigital visual work</h2>
    <div>-- drawings</div>
    <div>-- mixed media</div>
    <h2>Music</h2>
    <div>-- profanely sacred SoundCloud</div>
    <div>-- 7TTY metallurgic</div>
    <div>-- 7TTY slilll</div>
    <div>-- utterpop SoundCloud</div>
  </div>

{% endblock %}
