body {
  color: #333333;
}

.navbar {
  background-color: #1acdd6;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
